@import "./helpers/Colors.scss";

.card {
  border: none !important;
  border-radius: 3rem !important;

  .card-day {
    position: absolute;
    padding: 0.75rem;
    margin-left: 1rem;
    background-color: rgba($dark-grey, 0.75);
    color: $orange;
    font-weight: 600;
  }

  .card-img-top {
    border-radius: 1.5rem 1.5rem 0 0 !important;
  }

  .card-body {
    background-color: $white;
    border-radius: 0 0 1.5rem 1.5rem !important;

    .card-title,
    .card-text {
      color: $dark-grey;
      margin-top: 0.75rem !important;
    }

    .card-title {
      font-weight: 600;
      font-size: 1rem;
      word-break: break-word;
    }

    .card-text {
      font-weight: 300;
      font-size: 0.75rem;
      font-style: italic;
    }
  }
}